 body{
background-image: url(../img/fundo.jpg);
background-size: auto 129vh;
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.menu {
    background-color:  rgba(9, 157, 255, 0.938);
}
.menu ul {
    display: flex; /*deixa a lista do lado do outro*/
    justify-content: space-evenly; /*espacamento entre as listas*/
}
.menu li {
    list-style: none;/*tirando as bolinhas da lista*/
}
.site-title {
    font-size: 50px;
}
.site-title , .site-subtitle {
    color: whitesmoke;
    text-align: center;
}
.site-subtitle {
    font-style: italic;
}